{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='wall.css') }}"/>

{% block header %}
  <h1>{% block title %}New Route{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="title">Name</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Description (starting holds, finishing holds, wall angle, etc)</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

    <label for="grade">Grade (difficulty)</label>
    <select name="grade" id="grade">
      {% for i in range(17): %}
        <option value="v{{ i }}">v{{ i }}</option>
      {% endfor %}
    </select>

    {# TODO: have a way of dynamically rendering wall image based on most recent wall pic #}
    <label>Legal holds</label>
    <canvas id="canvas"></canvas>

    <input type='hidden' id='holds' name='holds' value='' />

    {# TODO: make it so that boxes with no holds are disabled, i.e. can't be clicked from javascript #}

    <input type="submit" value="Save" onclick="mySubmit();">
  </form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    var canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d");

    var background = new Image();
    background.src = "{{ url_for('static', filename='images/1_13_21_wall.png') }}";

    var c = canvas.getContext("2d"),
        boxHeight = -1,
        boxWidth = -1,
        rows = 20,
        cols = 16;
    canvas.addEventListener('click', handleClick);

    background.onload = function() {
        canvas.width = background.width;
        canvas.height = background.height;
        boxHeight = canvas.height/20;
        boxWidth = canvas.width/16;
        c = canvas.getContext("2d");
        ctx.drawImage(background,0,0);
        drawBoxes();
    }

    var isSelected = new Array();
    for(var i = 0; i <= rows; i++)
    {
        isSelected[i] = new Array();
        for(var j = 0; j <= cols; j++)
            isSelected[i].push(false);
    }

    {% include "js/drawboxes.js" %}
    
    {% include "js/submit_route.js" %}
  </script>
{% endblock %}
