{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Route details: "{{ post['title'] }}", posted by <i>{{ post['poster_username'] }}</i>{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- add something for giving beta, maybe as a comment -->
  <p>{{ post['body'] }}</p>
  <hr>
  <div class="wall">
    <div class="wall-holds">
      {% set breaks = [3, 11] %}
      {% for i in range(20):%}
        {% for j in range(16):%}
          {% set my_str = i ~ "," ~ j %}
          {# using this SO post: https://stackoverflow.com/questions/9486393/jinja2-change-the-value-of-a-variable-inside-a-loop as reference #}
          {% set vars = {'checked': False} %}
          {% for row, col in holds %}
            {% if row == i and col == j %}
              {% if vars.update({'checked': True}) %}{% endif %}
            {% endif %}
          {% endfor %}
          {% if vars.checked %}
            <input checked disabled type="checkbox" id="{{ my_str }}" name="hold|{{ my_str }}" value="{{ my_str }}">
          {% else %}
            <input disabled type="checkbox" id="{{ my_str }}" name="hold|{{ my_str }}" value="{{ my_str }}">
          {% endif %}

        {% endfor %}
        {% if i in breaks %}
          </div>
          <hr>
          <div class="wall-holds">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
