{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Route details: "{{ post['title'] }}", posted by <i>{{ post['poster_username'] }}</i>{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- add something for giving beta, maybe as a comment -->
  <p>{{ post['body'] }}</p>
  <hr>
  
  <canvas id="canvas"></canvas>

  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    var canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d");

    var background = new Image();
    background.src = "{{ url_for('static', filename='images/1_13_21_wall.png') }}";

    var c = canvas.getContext("2d"),
        boxHeight = -1,
        boxWidth = -1,
        rows = 20,
        cols = 16;
    canvas.addEventListener('click', handleClick);

    background.onload = function() {
        canvas.width = background.width;
        canvas.height = background.height;
        boxHeight = canvas.height/20;
        boxWidth = canvas.width/16;
        c = canvas.getContext("2d");
        ctx.drawImage(background,0,0);
        var holds = JSON.parse('{{ holds }}')
        for (i = 0; i < holds.length; i++) {
          var y = holds[i][0], x = holds[i][1];
          drawBox(y, x, 'red', 4);
        }
    }
    
    {% include "js/drawboxes.js" %}
  </script>
{% endblock %}
