{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <label>Legal holds</label>
    <canvas id="canvas"></canvas>

    <input type='hidden' id='holds' name='holds' value='' />
    
    <input type="submit" value="Save" onclick="mySubmit();">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', uid=post['uid']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}


{% block javascript %}
  <script type="text/javascript">

    var canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d");

    var background = new Image();
    background.src = "{{ url_for('static', filename='images/1_13_21_wall.png') }}";

    var c = canvas.getContext("2d"),
        boxHeight = -1,
        boxWidth = -1,
        rows = 20,
        cols = 16;
    canvas.addEventListener('click', handleClick);

    background.onload = function() {
        canvas.width = background.width;
        canvas.height = background.height;
        boxHeight = canvas.height/20;
        boxWidth = canvas.width/16;
        c = canvas.getContext("2d");
        ctx.drawImage(background,0,0);
        drawBoxes();
        var holds = JSON.parse('{{ holds }}')
        for (i = 0; i < holds.length; i++) {
          var y = holds[i][0], x = holds[i][1];
          drawBox(y, x, 'black', 1);
          isSelected[y][x] = true;
        }
    }

    var isSelected = new Array();
    for(var i = 0; i <= rows; i++)
    {
        isSelected[i] = new Array();
        for(var j = 0; j <= cols; j++)
            isSelected[i].push(false);
    }

    {% include "js/drawboxes.js" %}
    
    {% include "js/submit_route.js" %}
  </script>
{% endblock %}